
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- End home__cta block -->
        <!-- End home__hightlighted block -->

    </div>
  </main>

  <!-- <div role="banner" id="wg_pagefeedback" class="wg_pagefeedback">
    <div>
      <div id="block-pagefeedbackblock">
        <div  class="container-fluid">
          <a href="mailto:digital@gov.wales?url=https%3A//gov.wales/&amp;subject=Feedback%20on%20https%3A//gov.wales/&amp;body=Page%20URL%3A%20https%3A//gov.wales/%0APage%20Title%3A%20Home%0AYour%20feedback%3A%0A" id="page-feedback-link">Report anything wrong with this page</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="sharebar" id="sharebar">
    <div class="sharebar__components container-fluid">
      <div class="main__sharebar">
        <div  class="block-share">
          <h2>Share this page</h2>
          <ul class="block-share-list active" id="sharePageLinks">
            <li><a href="https://twitter.com/intent/tweet?url=https%3A//gov.wales/" class="twitter"><span class="vo_hidden">Share this page via </span>Twitter</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//gov.wales/" class="facebook"><span class="vo_hidden">Share this page via </span>Facebook</a></li>
            <li><a href="mailto:?body=https%3A//gov.wales/&amp;subject=Shared%20from%20gov.wales" class="email"><span class="vo_hidden">Share this page via </span>Email</a></li>
          </ul>
        </div>
        <div id="sharebar__backtotop" class="btn--outlined btn--arrow-up">
          <a href="#page_wrapper">Back to top</a>
        </div>
      </div>
    </div>
  </div> -->
  <footer class="footer" id="footer">
    <div class="footer__components container-fluid">
      <nav  id="block-footer">

        {% if page.lang == 'en' %}
          <ul class="menu clearfix">
            <li class="menu__item">
      <a href="https://gov.wales/welsh-revenue-authority/contact-us" data-drupal-link-system-path="node/19808">Contact us</a>
            </li>
        <li class="menu__item">
      <a href="https://gov.wales/welsh-revenue-authority/privacy-policy" data-drupal-link-system-path="node/16">Privacy</a>
            </li>
          </ul>
        {% endif %}
        {% if page.lang == 'cy'%}
        <ul class="menu clearfix">
              <li class="menu__item">
        <a href="https://llyw.cymru/awdurdod-cyllid-cymru/cysylltwch-a-ni" data-drupal-link-system-path="node/19808">Cysylltu â ni</a>
              </li>
          <li class="menu__item">
        <a href="https://llyw.cymru/awdurdod-cyllid-cymru/polisi-preifatrwydd" data-drupal-link-system-path="node/16">Preifatrwydd</a>
              </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </footer>
  </div>
</div>


        <div id="detect__breakpoint">
      <div class="breakpoint device-xs"></div>
      <div class="breakpoint device-sm"></div>
      <div class="breakpoint device-md"></div>
      <div class="breakpoint device-lg"></div>
    </div>
  </body>
</html>
