{% include header.html %}
<header class="page-header">
    <div class="page-header__type">
      {{site.t[page.lang].phase}}
    </div>
    <h1 class="page-header__title page-header__title--has-type"><span property="schema:name">{{site.t[page.lang].title}}</span>
    </h1>
</header>
<div class="page__intro page__intro--normal mb-40">
  <div class="page__intro">
    <p>{{site.t[page.lang].description}}</p>
  </div>
</div>
{{ content }}

{% assign posts=site.posts | where:"lang", page.lang %}
<ul>
  {% for post in posts %}
      <li>
          <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
      </li>
  {% endfor %}
</ul>
{% include footer.html %}
